# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/internal-dns-backend/node_modules
/internal-dns-frontend/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
/internal-dns-frontend/dist
/internal-dns-frontend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
